<p>alumnado-daw works!</p>
<div *ngIf="curso ; else noCurso">
        <ul *ngFor="let alumno of alumnos">
            <li *ngIf="alumno.curso==curso">{{alumno.nombre}}</li>
        </ul>
</div>


<ng-template #noCurso>
    <button (click)="alumnado('primero')">alumnado1</button>
    <div *ngIf="alumnadoUno==true">
        <ul *ngFor="let alumno of alumnos">
            <li *ngIf="alumno.curso=='1'">{{alumno.nombre}}</li>
        </ul>
    </div>
    
    
    <button (click)="alumnado('segundo')">alumnado2</button>
    <div *ngIf="alumnadoSegundo==true">
        <ul *ngFor="let alumno of alumnos">
            <li *ngIf="alumno.curso=='2'">{{alumno.nombre}}</li>
        </ul>
    </div>
</ng-template>
