<head>
    <link rel="stylesheet" href="./app.component.css">
</head>
<h1>{{title}}</h1>
<nav>

    <a [routerLink]="['home']" [routerLinkActive]="['activado']">Home </a>
    <a [routerLink]="['empleado']" [routerLinkActive]="['activado']">Empleado </a>
    <a [routerLink]="['coche']" [routerLinkActive]="['activado']">Coche </a>
    <a [routerLink]="['alumnado']" [routerLinkActive]="['activado']">alumnado </a>
    <a [routerLink]="['contacto']" [routerLinkActive]="['activado']">contacto </a>

</nav>

<router-outlet></router-outlet>
